.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #F4F3F3;
}

.left-container {
  width: 50%;
  text-align: center;
  animation: fadeInLeft 1s ease-out;
}

.right-container {
  width: 50%;
  text-align: center;
  animation: fadeInRight 1s ease-out;
}

.learn-more {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2E7BCF;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  text-decoration: none;
}

.learn-more:hover {
  background-color: #1B4C9F;
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    padding: 20px;
  }

  .left-container {
    width: 100%;
    text-align: center;
    animation: fadeInUp 1s ease-out;
    margin-bottom: 20px;
  }

  .right-container {
    display: none;
  }

  .learn-more {
    font-size: 16px;
    padding: 8px 16px;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media only screen and (max-width: 480px) {
  .learn-more {
    font-size: 16px;
    padding: 8px 16px;
  }
}
