.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #F4F3F3;
  }
  
  .left-container {
    width: 50%;
    text-align: center;
    animation: fadeInLeft 1s ease-out;
  }
  
  .right-container {
    width: 50%;
    text-align: center;
    animation: fadeInRight 1s ease-out;
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2E7BCF;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
  }
  
  button:hover {
    background-color: #1B4C9F;
  }
  