.footer-container {
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .footer-text {
    color: #e2e8f0;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    position: relative;
    padding-top: 20px;
    border-top: 1px solid #e2e8f0;
    width: max-content;
    margin: 0 20px;
  }

  .scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: scroll-behavior 0.5s ease-in-out;
  }
  
  .scroll-up-button:hover {
    scroll-behavior: smooth;
  }
  
  
  
  