.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #F4F3F3;
    padding: 50px 0;
  }
  
  .title {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 3rem;
  }
  
  .column {
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .section-icon {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .line {
    border-top: 2px solid #000;
    margin: 20px 0;
  }
  